<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">  
  
  
<select id="MnameMphone" resultType="Map" parameterType="String">
    SELECT mname, mphone FROM members WHERE mphone = #{value}
</select>

<select id="bankList" resultType="Map" parameterType="String">
    SELECT aaccount, abank, abalance FROM accounts WHERE mphone = #{value}
</select>

</mapper>
